<form class="archmage item-sheet action-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="44" width="44"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <div class="tab">

        <div class="form-group">
            <label>{{localize 'ARCHMAGE.CHAT.group'}}</label>
            <input type="text" name="data.group.value" value="{{data.group.value}}" data-dtype="{{data.group.type}}" placeholder="{{localize 'ARCHMAGE.ITEM.group'}}"/>
        </div>

        <div class="form-group">
            <label>{{localize 'ARCHMAGE.CHAT.attack'}}</label>
            <input type="text" name="data.attack.value" value="{{data.attack.value}}" data-dtype="{{data.attack.type}}" placeholder="Ex: [[d20+10+@ed]], [[/r d20+10+@ed]] vs AC ([[1d3+1]] attacks)"/>
        </div>

        <div class="form-group">
            <label>{{localize 'ARCHMAGE.CHAT.hit'}}</label>
            <input type="text" name="data.hit.value" value="{{data.hit.value}}" data-dtype="{{data.hit.type}}" placeholder="Ex: [[10]] damage, [[5]] ongoing psychic damage"/>
        </div>

        <div class="form-group">
            <label>{{localize 'ARCHMAGE.CHAT.hit1'}}</label>
            <div class="form-inputs">
                <input type="text" name="data.hit1.name" value="{{data.hit1.name}}" data-dtype="String" placeholder="Ex: Natural even hit"/>
                <input type="text" name="data.hit1.value" value="{{data.hit1.value}}" data-dtype="{{data.hit1.type}}" placeholder="Ex: The target is also grabbed."/>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize 'ARCHMAGE.CHAT.hit2'}}</label>
            <div class="form-inputs">
                <input type="text" name="data.hit2.name" value="{{data.hit2.name}}" data-dtype="String" placeholder="Ex: Natural 18+"/>
                <input type="text" name="data.hit2.value" value="{{data.hit2.value}}" data-dtype="{{data.hit2.type}}" placeholder="Ex: Make a *screeching wail* attack as a free action."/>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize 'ARCHMAGE.CHAT.hit3'}}</label>
            <div class="form-inputs">
                <input type="text" name="data.hit3.name" value="{{data.hit3.name}}" data-dtype="String" placeholder="Ex: Natural odd miss"/>
                <input type="text" name="data.hit3.value" value="{{data.hit3.value}}" data-dtype="{{data.hit3.type}}" placeholder="Ex: Deal [[8]] miss damage"/>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize 'ARCHMAGE.CHAT.miss'}}</label>
            <input type="text" name="data.miss.value" value="{{data.miss.value}}" data-dtype="{{data.miss.type}}" placeholder="Ex: [[4]] damage"/>
        </div>

        {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
    </div>
</form>